<!-- Main Header-->
<header class="main-header">

  {{ partial "top-header.html" . }}

    <!-- Main Box -->
  <div class="main-box">
      <div class="auto-container">
          <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                  <div class="logo">
                      <a href="index.html">
                        <img src="images/fse-logo.png" alt="Католицьке скаутство Європи">
                      </a>
                    </div>
                </div>

                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current">
                                    <a href="/">Домівка</a>
                                </li>
                             </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!--Btn Outer-->
                    <div class="btn-outer">
                      <a href="/join" class="theme-btn quote-btn btn-style-one">ПРИЄДНАТИСЯ</a>
                    </div>

                </div>
                <!--Nav Outer End-->

          </div>
        </div>
    </div>

</header>
<!--End Main Header -->
