<!-- Main Header-->
<header class="main-header">

  {{ partial "top-header.html" . }}

    <!-- Main Box -->
  <div class="main-box">
      <div class="auto-container">
          <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                  <div class="logo">
                      <a href="/">
                        <img src="/images/logo.png" alt="Католицьке скаутство Європи">
                      </a>

                    </div>
                </div>

                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="home-page">
                                    <a href="/">Головна</a>
                                </li>

                                <li class="dropdown">
                                  <a href="#">
                                    Про нас
                                  </a>
                                  <ul>
                                    <li>
                                        <a href="/who-we-are">Хто ми</a>
                                    </li>
                                    <li>
                                        <a href="/our-history">Наша історія</a>
                                    </li>
                                    <li>
                                        <a href="/o-jakub-sevin">О. Якуб Севін</a>
                                    </li>
                                    <li>
                                        <a href="/metodyka">Методика</a>
                                    </li>
                                    <li>
                                      <a href="/simvolika-ta-odnostrij">Символіка та однострій</a>
                                    </li>
                                    <li>
                                        <a href="/provid">Провід</a>
                                    </li>
                                  </ul>
                                </li>

                                <li class="">
                                    <a href="/news/">Новини</a>
                                </li>

                                <li class="dropdown">
                                  <a href="#">Для скаутів</a>
                                  <ul>
                                    <li>
                                      <a href="http://azymut360.pl/pl/c/Skauci-Europy/24" target="_blank">
                                        Карік
                                      </a>
                                    </li>
                                  </ul>
                                </li>

                                <li class="">
                                    <a href="/support">Підтримка</a>
                                </li>

                                <li class="">
                                    <a href="/contact">Контакти</a>
                                </li>
                             </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!--Btn Outer-->
                    <div class="btn-outer">
                      <a href="/join" class="theme-btn quote-btn btn-style-one">ПРИЄДНАТИСЯ</a>
                    </div>

                </div>
                <!--Nav Outer End-->

          </div>
        </div>
    </div>

</header>
<!--End Main Header -->
