<!-- Header Top -->
<div class="header-top">
    <div class="auto-container">
        <div class="clearfix">

              <!--Top Left-->
              <div class="top-left">
                <ul class="clearfix">
                    <li><span class="icon flaticon-technology-1"></span>+38 097 306 5030</li>
                    <li><span class="icon flaticon-interface"></span>fse.ukraine@gmail.com</li>
                  </ul>
              </div>

              <!--Top Right-->
              <div class="top-right">

                <!--social-icon-->
                  <div class="social-icon">
                      <a href="https://www.facebook.com/FSEinUA" target="_blank">
                        <span class="fa fa-facebook"></span>
                      </a>
                      <!-- <a href="https://vk.com/" target="_blank">
                        <span class="fa fa-vk"></span>
                      </a> -->
                      <a href="https://www.youtube.com/channel/UCUZj-HaUUatVLVJKWMKBAbw/videos" target="_blank">
                        <span class="fa fa-youtube-play"></span>
                      </a>
                  </div>

              </div>

          </div>

      </div>
  </div>
  <!-- Header Top End -->
