{{ partial "header.html" . }}

<section class="section-cover" style="background-image:url(/images/background/news.jpg);"></section>

<section class="section-title auto-container">
	<h1 class="section-title__h">{{ index .Params "title" | default "Новини" }}</h1>
</section>

<section class="news-section blog-grid">
	{{ $paginator := .Paginator }}

  <div class="auto-container">
    <ul class="row clearfix">
			{{ range $index, $page := .Paginator.Pages }}
			  {{ .Render "li" }}
			{{ end }}
    </ul>

    {{ partial "pagination.html" (dict "paginator" $paginator "site" .Site ) }}

  </div>
</section>

{{ partial "footer.html" . }}
