{{ $cloudinary_370x210 := "https://res.cloudinary.com/dmpdf2tfh/image/upload/c_fill,g_center,w_370,h_210/" }}
{{ $preview_image := delimit (slice $cloudinary_370x210 (default "kse-logo_pgcja0" .Params.featured_image)) "" }}

<li class="news-style-one col-md-4 col-sm-6 col-xs-12">
  <div class="inner-box">
  	<div class="image-box">
      <a href="{{ .Permalink }}">
        <img src="{{ $preview_image }}" alt="">
      </a>
    </div>

    <div class="lower-content">
      <div class="upper-box">
        {{ range where .Site.Pages ".Params.cat_slug" "in" .Params.categories }}
          <a href="/categories/{{ .Params.cat_slug }}" class="title">{{ .Title }}</a>
        {{ end }}
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="text">{{ .Description }}</div>
      </div>
      <div class="lower-box clearfix">
        <div class="pull-left">
          <div class="date"><span class="icon flaticon-business"></span> {{ .Date.Format "2006-01-02" }}</div>
        </div>
      </div>
    </div>
  </div>
</li>
