{{ partial "header.html" . }}

{{ $image := index .Params "background-image" | default "7.jpg" }}

<section class="section-cover" style="background-image:url(/images/background/{{ $image }});"></section>

<section class="section-title auto-container">
	<h1 class="section-title__h">{{ index .Params "title" | default "" }}</h1>
</section>

<div class="blog-detail">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="content-side col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
        <section class="blog-section">
          <div class="news-style-one news-details">
            <div class="inner-box">
              <div class="lower-content">
                <div class="text">
                  {{ .Content }}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>



{{ partial "footer.html" . }}
