{{ partial "header.html" . }}

{{ $image := index .Params "background_image" | default "7.jpg" }}

<section class="section-cover" style="background-image:url(/images/background/{{ $image }});"></section>

<section class="section-title auto-container">
	<h1 class="section-title__h">{{ index .Params "title" | default "" }}</h1>
</section>

<!--Contact Form Section-->
<section class="contact-form-section">
	<div class="auto-container">
    	<div class="row clearfix">

        	<div class="column col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            	<h2>Приєднуйся до родини скаутів Європи</h2>
							<div class="text">Стань частиною родини Федерації скаутів Європи. Заповнюй заявку і ми обов'язково з тобою зв'яжемося.</div>
                <!-- Contact Form -->
                <div class="contact-form">

                    <!--Contact Form-->
                    <form name="join" action="/" id="join-form" netlify>
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="field-label">Ім'я та Прізвище<span class="required-tag">*</span></div>
                                <input type="text" name="name" required>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="field-label">Рік народження <span class="required-tag">*</span></div>
                                <input type="text" name="age" required>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="field-label">Телефон <span class="required-tag">*</span></div>
                                <input type="text" name="phone" required>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="field-label">Місто / Село <span class="required-tag">*</span></div>
																<input type="text" name="location" required>
                            </div>

														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="field-label">Твій вік <span class="required-tag">*</span></div>

																<div class="radio">
																  <label>
																    <input type="radio" name="role" value="Вовченя 8-12 років">
																    Вовченя 8-12 років
																  </label>
																</div>

																<div class="radio">
																  <label>
																    <input type="radio" name="role" value="Скаут / скаутка 12-17 років">
																    Скаут / скаутка 12-17 років
																  </label>
																</div>

																<div class="radio">
																  <label>
																    <input type="radio" name="role" value="Мандрівник / мандрівниця від 17років">
																    Мандрівник / мандрівниця від 17років
																  </label>
																</div>

																<div class="radio">
																  <label>
																    <input type="radio" name="role" value="Волонтер">
																    Волонтер
																  </label>
																</div>
                            </div>



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <button class="theme-btn btn-style-two" type="submit" name="submit-form">НАДІСЛАТИ</button>
                            </div>

                        </div>
                    </form>

                </div>
                <!--End Comment Form -->

            </div>

        </div>
    </div>
</section>


{{ partial "footer.html" . }}
