{{ partial "header.html" . }}

<!--Call To Action-->
<section class="call-to-action" style="background-image:url(images/background/scouts-ej.jpg)">
	<div class="auto-container">
    	<h2>Почни свою <span class="theme_color">подорож</span> зараз</h2>
        <div class="text">Тому що найбільша пригода - це взяти на себе відповідальність!</div>
        <div class="buttons-box">
        	<a href="#" class="theme-btn btn-style-two">Приєднатися</a> <a href="#" class="theme-btn btn-style-three">Дізнати більше</a>
        </div>
    </div>
</section>
<!--Call To Action-->

<!--About Section-->
<section class="about-section">
	<div class="auto-container">
    	<div class="row clearfix">

        	<!--Content Column-->
        	<div class="content-column col-md-6 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<!--About Title-->
                	<div class="about-title">
                    	<h2>Про скаутинг</h2>
                    </div>
                    <div class="text">Скаутський рух – це всесвітній добровільний недержавний і неполітичний рух, в якому беруть участь більше 25 мільйонів дітей і молодих людей різних соціальних груп, релiгiй та культур. Головна мета скаутингу – суспільний, духовний, інтелектуальний і фізичний розвиток молоді, формування активної цілісної особистості.</div>
                    <!-- <a href="contact.html" class="theme-btn btn-style-two">CONTACT</a> -->
                </div>
            </div>

            <!--Image Column-->
            <div class="image-column col-md-6 col-sm-6 col-xs-12">
            	<div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                	<img src="images/resource/about.png" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>
<!--End About Section-->

{{ partial "footer.html" . }}
