{{ partial "header.html" . }}

<!--Call To Action-->
<section class="call-to-action" style="background-image:url(images/background/scouts-ej.jpg)">
	<div class="auto-container">
    	<h2>Почни свою <span class="theme_color">подорож</span> зараз</h2>
        <div class="text">Мандрівка довжиною в тисячі кілометрів починається з одного кроку</div>
        <div class="buttons-box">
        	<a href="/join" class="theme-btn btn-style-two">Приєднатися</a>
					<a href="/who-we-are" class="theme-btn btn-style-three">Дізнати більше</a>
        </div>
    </div>
</section>
<!--Call To Action-->

<section class="offer-section">
	<div class="auto-container">
    	<div class="row clearfix">
        	<!--content column-->
        	<div class="content-column col-md-5 col-sm-12 col-xs-12">
            	<div class="inner-box">
                	<!--About Title-->
                	<div class="about-title">
                    	<h2>Про Скаутинг</h2>
                    </div>
                    <div class="text">
                    		<p><strong>Скаутський рух</strong> – це всесвітній добровільний недержавний і неполітичний рух, в якому беруть участь більше 25 мільйонів дітей і молодих людей різних соціальних груп, релiгiй та культур.</p>
                        <p>Головна мета скаутингу – суспільний, духовний, інтелектуальний і фізичний розвиток молоді, формування активної цілісної особистості.</p>
                    </div>
                </div>
            </div>

            <!--Services Column-->
            <div class="services-column col-md-7 col-sm-12 col-xs-12">
            	<div class="row clearfix">

								{{ range $.Site.Data.indexGallery }}
                	<div class="services-block-two col-md-4 col-sm-6 col-xs-6">
                    	<div class="inner wow fadeIn animated" data-wow-delay="{{ .delay }}" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: {{ .delay }}; animation-name: fadeIn;">
                        	<figure class="icon-box">
															<a href="/images/eurojam/{{ .full_src }}" class="lightbox-image" title="{{ default "" .title }}" data-fancybox-group="index-about-gallery">
																<img src="/images/eurojam/{{ .preview_src }}" alt="">
															</a>
                            </figure>
                        </div>
                    </div>
									{{ end }}

                </div>
            </div>
        </div>
    </div>
</section>


<section class="news-section padding">
		<div class="auto-container">
    		<div class="sec-title">
            <h2>Останні Новини</h2>
        </div>

        <div class="row clearfix">
						{{ range first 3 (where .Site.Pages "Section" "news") }}
							{{ .Render "li" }}
						{{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
